@{title('PHOTOCOPY HỒNG NHUNG')}

<h1>@{title}</h1>
@{!repository.page.body}
<br />
@{view('partials/products', model)}
<div class="row">
	<div class="col-md-6 mt10">
		<a href="@{sitemap_url('category')}" class="linkbutton"><i class="fa fa-folder-o"></i>@(Tìm sản phẩm)</a>
	</div>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1649396448515665"
  theme_color="#67b868"
  logged_in_greeting="Chat với Admin Ticivi"
  logged_out_greeting="Chat với Admin Ticivi">
</div>
